DATABASE_URL=postgresql://columbidae:columbidae@localhost:5432/columbidae

# JWT Secret (change this in production!)
JWT_SECRET=oSI7Aoy/b3tZuECiXWsMWwzXoGuVRoUIIAx+uMDpA3Y=

# Server
PORT=3000

# Postgres Configuration
POSTGRES_USER=columbidae
POSTGRES_PASSWORD=columbidae
POSTGRES_DB=columbidae

# MinIO Configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=password
MINIO_BUCKET=assets-columbidae

# Client URL
CLIENT_URL=http://localhost:5173