services:
  db:
    image: postgres:16-bookworm
    environment:
      POSTGRES_USER: columbidae
      POSTGRES_PASSWORD: columbidae
      POSTGRES_DB: columbidae
    ports:
      - '5433:5432'
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - default

volumes:
  postgres:
